.inventory-item {
    --border-color: #ccc;
    --shadow-color: #ccc;
    --card-background-color: #d0d8e0;
    --card-background-highlight-color: #e0d8d0;
}

.inventory-item {
    display: inline-block;
    max-width: max-content;
    margin: 0.5em;
    padding: 0 1em;
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px var(--shadow-color);
    background-color: var(--card-background-color);
}

.inventory-item:hover {
    box-shadow: 4px 4px 8px var(--shadow-color);
    transition: box-shadow ease 0.25s;
    background: linear-gradient(var(--card-background-highlight-color),var(--card-background-color));
}

.author {
    text-align: center;
}
